{% extends 'users/base_users.html' %}


{% block title %} 注册 {% endblock %}


{% block content %}
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="panel-title text-center">欢迎注册</p>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'users:register' %}" method="POST">

                            {% if message %}
                                <div class="alert alert-warning">{{ message }}</div>
                            {% endif %}

                            {% csrf_token %}

                            {% for field in register_form %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}

                            <div>
                                <a href="{% url 'users:login' %}" class="text-success " ><ins>已注册？直接登录</ins></a>
                                <button type="submit" class="btn btn-sm btn-primary pull-right">注册</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}